body{
    background-color: #080808b3;
    color: white;
}
.box>h1>p{
    align-items: center;
    justify-content: center;
}
.dialog-card{
    border: 3px solid #000;
    align-items: center;
    justify-content: center;
    

}